.cart {
  max-width: 22.5rem;
  box-shadow: none;
  transition: box-shadow 0.3s linear;
}

.cart:hover {
  cursor: pointer;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.cart img {
  max-width: 22.5rem;
}

.cart-info-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-info-section p {
  margin: 0;
}

.cart-tag {
  color: var(--text-red);
  font-weight: 700;
  line-height: 0.8rem;
  font-size: 0.8rem;
}

.cart-title {
  color: var(--text-black);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.cart-info-block {
  color: var(--text-light-gray);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.cart-info-block span:first-child:before {
  content: "";
  margin: 0;
}

.cart-info-block span::before {
  content: "●";
  margin: 0 0.3rem;
}

.cart-autor {
  color: var(--text-black);
  font-weight: 500;
}
